/* colors
  #272a31 - blackish
  #ec5242 - reddish
  #d3d3d3 - light  grey
*/

*{
  margin:0;
  padding:0;
  border-radius: 0;

}

.container {
  min-height: 50px;
}

.flex-column {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.center {
  justify-content: center;
}

.space-btn {
  justify-content: space-between;
}

.navbar {
  min-height: 20px;
}

.pad {
  padding: 0 20px;
}

.hmbgr {
  width:40px;
  height: 35px;
  box-sizing: border-box;
}

.hmbgr-bar {
  display:block;
  height: 6px;
  background-color:#272a31;
  width:100%;
}

/* outline classes */
.black {
  outline:1px solid black;
}

.red {
  outline:1px solid red;
}