/* colors
  #272a31 - blackish
  #ec5242 - reddish
  #d3d3d3 - light  grey
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

@font-face {
  font-family:'cocogoose title';
  src: url('./fonts/cocogoose/Cocogoose Pro-trial.ttf');
}

@font-face {
  font-family:'cocogoose menu';
  src: url('./fonts/cocogoose/Cocogoose Pro Semilight-trial.ttf');
}

* {
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-family: 'Lato', sans-serif;
  line-height: 30px;
  font-size: 12px;
}

.container {
  padding:10px 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flex-row {
  display:flex;
  flex-direction: row;
}

.column-center {
  align-items: center;
}

.row-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.space-btn {
  justify-content: space-between;
}

.pad {
  padding: 0 20px;
}

.hmbgr {
  width: 40px;
  height: 30px;
  box-sizing: border-box;
}

.hmbgr-bar {
  display: block;
  height: 6px;
  background-color: #272a31;
  width: 100%;
}

.introduction {
  background-image: url('images/background-1.png');
}

.background {
  background-repeat: no-repeat;
  background-size: contain;
}

h1.main-title {
  font-family: 'cocogoose title', sans-serif;
  font-size: 35px;
  margin: 0 0 30px 0;
}

.title-color {
  color: #ec5242
}

.tagline {
  font-weight: 400;
  font-size: 30px;
  margin: 50px 0 10px 0;
}

.brief-info {
  padding: 20px 30px;
}

.event-date {
  font-family: 'cocogoose title';
  font-size: 20px;
}

.venue {
  margin: 10px 0 50px 0;
}

.main-program {
  padding:40px 0;
  background-image: url('images/pattern_bg.png');
  background-color: #272a31;
}

h1.sub-title {
  width: fit-content;
  font-size: 20px;
  margin-bottom:10px;
}

.white {
  color:#fff;
}

.red-bar {
  border: 1px solid red;
  width:40px;
}

.programes {
  padding: 30px 0;
  width:100%;
}

.program {
  width:95%;
  margin-bottom:10px;
  background-color: rgba(211, 211, 211, .4);
  padding:8px 0;
 }

.join-nyege {
  all:unset;
  padding:20px 30px;
  margin-top:20px;
  background-color: #ec5242;
  color:#fff;
}

.large-screen {
  display:none;
}

.icon {
  min-width:40%;
  padding:5px;
}

.brief-summary {
  color:#fff;
}

.icon-title {
  color:#ec5242;
  font-weight: bold;
}

.feat-speakers {
  padding:40px 0 0 0;
}

.speakers {
  width:100%;
  padding: 30px 0 0 0;
}

.speaker {
  width: 95%;
  margin-bottom: 10px;
 
}

.speaker-image {
  width:180px;
}

/* the image */
.speaker-item {
  width:100%;
}

.speaker-bio h2 {
  font-size: 15px;
}

.speaker-bio p.academics {
  color:#ec5242;
  margin: 10px 0;
}

p.academics, 
p.role {
  font-size: 13px;
}

.border {
  border: 1px solid #d3d3d3;
  margin:0 10px;
}

.about-info {
  text-align: center;
  padding:20px 10px;
}

.contact-info {
  margin:30px 0;
}

.contact-info p {
  text-align: center;
}

/* correct padding on main program Foreun activity */
.pad-right-5 {
  padding-right: 5px;
}

.contact-info a {
  text-decoration: none;
  border-bottom:2px solid #d3d3d3;
  color:#272a31;
  font-weight: 700;
}

.about-nyegenyege {
  margin: 30px 0 0 0;
}

.sub-title-2 {
  margin: 0 0 20px 0;
  text-align: center;
}

.brief {
  text-align: center;
  margin: 20px 0 0 0;
}

.logo-detail {
  border:1px solid #d3d3d3;
  width: 90%;
  padding:20px;
  box-sizing: border-box;
  margin: 20px 0;
}

.past-events {
  margin:40px 0 20px 0;
}

.past-event {
  position:relative;
  margin-bottom:10px;
  height: 230px;
}

.past-event img {
  height: 100%;
}

.filter-layer  {
  background-color: rgba(236, 82, 66, .4);
  position:absolute;
  top:0;
  height: 100%;
  width: 100%;
  text-align: center;
}

.past-images {
  margin-top:30px;
}

.y-gap {
  column-gap:10px;
}

.partner-logos {
  background-color: #272a31;
  color:#fff;
  padding:40px 0 40px 0;
}

.logos p {
  font-size:2em;
}

.bar {
  margin-bottom:30px;
}

.logos p {
  /* outline:1px solid red; */
  padding:5px 10px;
} 

.mtn {
  font-style: italic;
  font-weight: 700;
}

.silk {
  font-style: oblique;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.jonam {
  font-family: Arial, Helvetica, sans-serif;

}

.game {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-variant: small-caps;

}
/* outline classes */
.black {
  outline: 1px solid black;
}

.red {
  outline: 1px solid red;
}
