*{
  margin:0;
  padding:0;
  border-radius: 0;

}

.container {
  min-height: 50px;
}

.flex-column {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.center {
  justify-content: center;
}

.navbar {
  min-height: 20px;
}

.pad {
  padding: 0 20px;
}

.hmbgr {
  width:40px;
  height: 40px;
}

/* outline classes */
.black {
  outline:1px solid black;
}

.red {
  outline:1px solid red;
}